# --- CONFIGURATION ---
DAILY_SAMPLE_ROOM_URL=https://resqhealth.daily.co/quadriga-agent-test

# --- API KEYS ---
GEMINI_API_KEY= [key obscured]
GOOGLE_API_KEY= [key obscured]
DAILY_API_KEY= [key obscured]